#root {
  margin: 0 auto;
}

html.light body {
  background: url('./assets/bg_light.png');
}


html.dark body {
  background: url('./assets/bg_dark.webp');
}

.chakra-card__root {
  box-shadow:
    inset 0 0 0px 5px var(--chakra-colors-bg),
    inset 0 0 0px 6px var(--chakra-colors-border-inverted),
    inset 0 0 0px 7px var(--chakra-colors-bg),
    inset 0 0 0px 8px var(--chakra-colors-border-inverted);
  padding: 10px;
  border-color: var(--chakra-colors-border-panel);
}

.chakra-button.compact {
  padding: 2px !important;
  width: 18px !important;
  height: 18px !important;
  min-width: 18px;
}

.app-wrapper {
  min-height: 100vh;
  margin-left: 64px;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 100%;
  width: 64px;
  background: rgb(63 77 63);
  color: rgb(224 204 175);
  flex-direction: column;
}

.header-button {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  border-width: 1px 0;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 6px;
  color: rgb(224 204 175);
  text-transform: uppercase;
  text-decoration: none;
}

.header-button.active,
.header-button:hover {
  background: radial-gradient(circle at 100%, rgba(224, 204, 175, 0) 0%, rgba(224, 204, 175, 1) 200%);
  border-color: rgba(224, 204, 175, .4);
}

.header-button:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-button.chars:before {
  background-image: url('./assets/chars_icon.png');
}

.header-button.specs:before {
  background-image: url('./assets/spec_icon.png');
}
.header-button.rules:before {
  background-image: url('./assets/rules_icon.png');
}

.toolbar {
  position: absolute;
  top: 4px;
  right: 8px;
}

.npc-wrapper {
  height: 100vh;
}

.field-preview {
  white-space: pre-line;
}

.npc-list-item {
  cursor: pointer;
}

.region-list {
  max-height: 300px;
  overflow: auto;
}

.region-item {
  padding: 4px 6px;
  cursor: pointer;
}

.region-item:hover {
  background: var(--chakra-colors-bg-muted);
}

.chakra-accordion__itemTrigger {
  border: solid 1px #89928a;
  background: #89928a33;
}

.rsw-ce {
  background: #ffffff44;
  max-height: 400px;
  min-height: 200px;
  overflow-y: auto;
}

*::selection {
  background: #89928a;
}
*::-moz-selection {
  background: #89928a;
}
*::-webkit-selection {
  background: #89928a;
}